<!DOCTYPE html>
<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{#if meta_title}}{{meta_title}}{{else}}It's a Duffy Thing{{/if}}</title>
    <meta name="description" content="{{meta_description}}">

    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Joe_Duffy" />
    <meta name="twitter:creator" content="@Joe_Duffy" />

    {{#if pageTitle}}
    <meta name="twitter:title" content="{{pageTitle}}" />
    <meta property="og:title" content="{{pageTitle}}" />
	{{else}}
    <meta name="twitter:title" content="Yetii" />
    <meta property="og:title" content="Yetii" />
	{{/if}}

    {{#if metaDescription}}
    <meta name="twitter:description" content="{{metaDescription}}" />
    <meta property="og:description" content="{{metaDescription}}" />
    {{/if}}

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">

    {{! Apple Touch Icon }}
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    {{! Favicon }}
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    {{! Safari Pinned Tab }}
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4C90DC">
    {{! Extras }}
    <meta name="apple-mobile-web-app-title" content="It's a Duffy Thing">
    <meta name="application-name" content="It's a Duffy Thing">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {{{block "headExtras"}}}
</head>
<body class="{{body_class}} container-fluid">
    <header id="page-header" class="col-md-8 col-md-offset-2 col-sm-12">
        <div id="page-heading-wrapper">
            <div id="page-heading"><a href="/" id="home-page-anchor">It's a Duffy Thing</a></div>
            <div id="page-header-subtitle">...you wouldn't get it</div>
        </div>
        <nav id="page-navigation-container">
            <ul id="page-navigation">
                <li>
                    <a href="/" title="Blog posts by Joseph Duffy">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/rss" title="Blog RSS Feed">RSS</a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="page-main" class="row">
        <div id="main-container" class="col-md-8 col-md-offset-2 col-xs-12">
            {{! Everything else (i.e., page content) gets inserted here }}
            {{{body}}}
        </div>
    </main>
    {{! This isn't really very good semtical-wise, but it's fun :) }}
    <div id="footer-divider" aria-hidden="true">
        <span>💩</span>
    </div>
    <footer id="page-footer" class="row">
        <div id="footer-container" class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="footer-social-media">
                <ul>
                    <li>
                        <a href="https://www.twitter.com/Joe_Duffy" title="Joseph Duffy's Twitter" id="footer-twitter-link" class="icon-twitter">@Joe_Duffy</a>
                    </li>
                    <li>
                        <a href="https://github.com/JosephDuffy" title="Joseph Duffy's Github" id="footer-github-link" class="icon-github">JosephDuffy</a>
                    </li>
                </ul>
            </div>
            <div class="footer-extra">Copyright &copy; 2015 Joseph Duffy</div>
            <div class="footer-extra">The source code for this website is <a href="https://github.com/JosephDuffy/josephduffy.co.uk" title="Website source code on GitHub">available on GitHub</a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/languages/swift.min.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>