<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
	<title>Joseph Duffy's Blog</title>
	<link>https://josephduffy.co.uk/</link>
	<language>en-gb</language>
	<pubDate>{{{formatDate lastUpdated "ddd, DD MMM YYYY HH:mm:ss ZZ"}}}</pubDate>
	<copyright>Copyright © 2015, Joseph Duffy</copyright>
	<description>Blog posts by Joseph Duffy</description>
	<atom:link href="https://josephduffy.co.uk/rss.xml" rel="self" type="application/rss+xml" />

	{{#each posts}}
	<item>
		<title>{{this.title}}</title>
		<link>https://josephduffy.co.uk{{this.url}}</link>
		<guid>https://josephduffy.co.uk{{this.url}}</guid>
		<pubDate>{{{formatDate this.date "ddd, DD MMM YYYY HH:mm:ss ZZ"}}}</pubDate>
		<description>
		<![CDATA[
		{{{this.preview}}}
		]]>
		</description>
	</item>
	{{/each}}
</channel>
</rss>